{% extends 'base.html' %}
{% block body %}
    <div class="container">
        <form method="post">
            <table class="cont">
                <tbody>
                    <tr>
                        <b><label for="content">ToDo task </label></b>
                    </tr>
                    <tr>
                        <input type="text" rows="2" class="form-control" name="content" placeholder="ToDo task"></input>
                    </tr>
                    <tr>
                        <b><label for="desc">ToDo description</label></b>
                    </tr>
                    <tr>
                        <input type="textbox" class="form-control" name="desc" placeholder="ToDo Description"></input>
                    </tr>
                    <tr>
                        <td>
                            <b><label for="degree">Degree</label></b>
                        </td>
                        <tr>
                        <td>
                            <input id="degree-0" name="degree" required type="radio" value="Important">
                            <label for="degree-0">Important</label>
                        </td>
                        <td>
                            <input id="degree-1" name="degree" required type="radio" value="Unimportant">
                            <label for="degree-1">Unimportant</label>
                        </td>
                    </tr>

                    <tr>
                        <td><button type="submit" class="btn btn-primary">Submit</button>
                    </tr>
            </table>
        </form>

        <div class="container">

        <h2>Your ToDos</h2>
        <table class="table" id = "t1">
            <thead>
                <tr>
                    <th scope="col">SNo</th>
                    <th scope="col">Task Title</th>
                    <th scope="col">Description</th>
                    <th scope="col">Degree</th>
                    <th scope="col">Time</th>
                    <th scope = "col">Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for todo in all_todos %}
                <tr>
                    <th scope="row">{{loop.index}}</th>
                    <td>{{todo['content']}}</td>
                    <td>{{todo.desc}}</td>
                    <td>{{todo.degree}}</td>
                    <td>{{todo.date_created}}</td>
                    <td>
                        <a href = "/delete/{{todo._id}}/" type = "button" onclick = "confirm('Are you sure to delete'); myFunco()" class = "btn btn-dark me-1">Delete</button>
                        <a href = "/update/{{todo._id}}/" type = "button" class = "btn btn-info">Update</button>
                    </td>
                {% endfor %}
            </tbody>
        </table>
        <script>
            function myFunco(){
                alert("ToDo deleted !")
            }
        </script>
    </div>
    </div>
{% endblock body %}

